@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto","Arial",sans-serif;
    background: url(work.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


















                                          /*header*/


 header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 100;
    height: 53px;
    align-items: center;
    padding: 10px 100px ;
    border-radius: 10PX;

 }

.logo{
    display: flex;
    margin-left: 18px;
}
 .logo img{
        width: 75px;

    
 }
a{
    text-decoration: none;


}
.navigation a{
    color: blueviolet;
    padding: 0 15px;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-weight: 600;
    transition: .3s ;
 }
 .navigation a:hover{
font-size: 1.6em;
transform: scale (1.1);
color: rgb(148, 0, 153);

 }

.navigation .login{
    font-size: 18px;
}

.navigation .login:hover {
    font-size: 18px;
}


.login{
    display: none;
}

                                           /*main*/







section {
    padding: 100px 140px;
}
.main{
    display: flex;
    width: 100%;
    min-height: 100vh;

align-items: center;
}
.main h2{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 500;
    
    
 }
.main h2 span{
    display: inline-block;
    font-size: 3rem;
    color: rgb(89, 0, 255);
    margin-top: 0px;
    font-weight: 800;
    margin:  10px 0;
}

.main h3{
    margin-bottom: 0px;
    display: inline-block;
    color: aliceblue;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

 .social-icon a{
font-size: 2rem;
width: 100%;
margin-left: 30px;
color: aliceblue;
transition: .5s ease;

 }










                                        /*services*/



 





 .cards{
    background-color: aliceblue;

 }
 .title{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:  30px;
 }
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;


}
.card{
    background-color: aliceblue;
   width:21.2em ; 
   margin:  15px;
   box-shadow: 0  5px 25px rgba(1, 1, 1, 50%);
   border-radius: 10px;
   padding: 25px;
   transition: 0.7s ease;

}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: blueviolet;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
    color: blue;
}
h3{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 800;
}
p{
    font-size: 18px;
    color: #000;
}















                                        /*projects*/



.projects{
    background-color: #000016;
    width: 100%;
}

.projects .content{
    margin-top: 30px;
}
.projects-card{
    background-color: aliceblue;
    border: 1px solid white;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: .7s ease;
}
.projects-card:hover{
    transform: scale(1.1);
}
.projects-image img{
    width: 100%;
}
.projects-card:hover .projects-image{
 opacity: 0.85;
}
.projects-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    color: #3a6cf4;
}
.more-details:hover{
    cursor: pointer;
    color: blue;
}
























                                          /*contact*/
                         


.contact .card{
    width: 27rem;

}
.contact .icon{
    font-size: 6em;
}
.contact .info p{
    color: rgb(0, 0, 0);
    font-size: 1.8em;

}
.contact .info h3{
    color: rgb(0, 0, 0);

}


















                                             /*footer*/



footer {
    background-color: #000016;
    color: #fff;
    padding: 1.8em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.7em;
    font-weight:800;
    color: #fff;
}

.footer-title span {
   color: #3a6cf4;

}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}





















                                             /*screen*/

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 9px;
    }

    .main-content h2{
        font-size: 0.6em;
    }

    .main-content h3{
        font-size: 1em;
    }
    }

@media (max-width:200px){
    body{
        font-size: 8px;
     
    }
}
